.modalBackdrop{
   position: fixed; 
   top: 25%;
   left: 25%;
   width:50% ;
   height: 50%;
   background-color: rgb(195, 195, 222);
   border-radius: 5px;
   border: 0.5px solid ;
   border-color: brown;
   /* z-index: 999; */
}

.modalContent {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /* max-width: 600px;
  min-height: 300px;
  border-radius: 5px; */
}